{% extends 'basic_app/basic_app.html' %} {% block body_block %}
<div class="jumbtron">
	<h1>Welcome to the School Detail Page</h1>
	<h2 style="color: aqua">School Details:</h2>
	<p>Id_num: {{school_detail.id}}</p>
	<p>Name: {{school_detail.name}}</p>
	<p>Principal: {{school_detail.principals}}</p>
	<p>Location: {{school_detail.location}}</p>
	<h3>Students:</h3>

	{% for student in school_detail.students.all %}
	<p>{{student.name}} who is {{student.age}} years old.</p>
	{% endfor %}
</div>

<div>
	<p><a class="btn btn-warning" href="{% url 'basic_app:update' pk=school_detail.pk %}">Update</a></p>
	<p><a class="btn btn-danger" href="{% url 'basic_app:delete' pk=school_detail.pk %}">Delete</a></p>
	<p><a class="btn btn-primary" href="{% url 'basic_app:stdcreate' %}">Add Student</a></p>
</div>
{% endblock%}
